.header__links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  column-gap: 18px;
  font-size: 24px;
  margin-bottom: 6px;
  font-style: normal;
  font-weight: normal;
}

@media screen and (max-width: 600px) {
  .header__link-list {
    font-size: 18px;
    line-height: 1.11;
    margin-bottom: 8px;
  }
}

